<div class="col-md-10 lab-list-col-10">

    <!--edit -->
    <h1 class="text-h2-lightblue">Representation of Integers and their Arithmetic</h1>
    <div class="content" id="experiment-article-section-1-content">
        <p>Integers are primitive data structures provided by default by almost all processors and
            programming languages. In this lab we study the represenation of integers and the
            arithmetic operations on them. </p>
        <p>Please read the <a href="../Integers/integerRepresentation.pdf">Lecture Notes at this
                link</a> for the necessary background to work on this experiment.</p>
    </div>
</div>