{% extends "base.html" %}

{% block content %}
<div class="col-md-10 lab-list-col-10">
    <h1 class="text-h2-lightblue">Digital Signatures Scheme</h1>
    <div class="content" id="experiment-article-section-1-content">
        <p>
            A Digital Signature is an authentication mechanism that enables the creator of the message to attack a code
            that acts as a signature. The signature is formed by taking the hash of the message and encrypting the
            message with the creator's private key. The signature guarantees the source and integrity of the message.

        </p>
        <br>
        <p>
            <h1>About the experiment:</h1>
            In Public key setting,it becomes difficult to verify for a receiver whether message is originated from
            claimed source.

            In this experiment, we show how can a receiver verify integrity of the message in public key setting.

            Your task is to verify, whether digital signature scheme really works and why it works?
        </p>

    </div>
</div>
{% endblock %}