{% extends "base.html" %}

{% block content %}
<div class="col-md-10 lab-list-col-10">
    <h1 class="text-h2-lightblue">Digital Signatures Scheme</h1>
    <div class="content" id="experiment-article-section-5-content">
        <p>
            <p><b>Step 1:</b> Enter the input text to be encrypted in the 'Plaintext' area and generate hash value for
                message by clicking on the <b>SHA-1</b> button</p>
            <p><b>Step 2:</b> Copy content of <b>Hash Output(hex)</b> field and paste it in <b>Input to RSA(hex)</b>
                field.</p>
            <p><b>Step 3:</b> Select keysize of public key from <b>RSA Public key</b> section by clicking on any key
                button.</p>
            <p><b>Step 4:</b> Click on <b>Apply RSA</b> button to generate a digital signature. </p>
        </p>
    </div>
</div>
{% endblock %}